.Albums {
  display: flex;
  flex-wrap: wrap;
}

.container {
  width: 25%;
  filter: blur(65px);
}

.container:hover {
  filter: blur(0px);
  transition: 2s filter linear;
}

@media (max-width:1200px) {
  .container {
    width: calc(100% / 3);
  }
}
@media (max-width:767px) {
  .container {
    width: 50%;
  }
}

.container img {
  width: 100%;
}